* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  background-color: #7b3056;
  color: #fff;
  width: 100%;
}

p {
  font-size: 20px;
}

label {
  font-size: 55px;
}

button {
  width: 100%;
  max-width: 350px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.min-number,
.max-number,
.total-lives {
  color: #ff00e1;
}

.game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
  width: 100%;
  max-width: 750px;
  min-height: 550px;
  padding: 20px;
  background-color: #12aab4;
  color: #fff;
}

.game__settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.game__settings-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.game__settings-wrapper label {
  font-size: 18px;
}

.game__settings-wrapper input {
  width: 100%;
  max-width: 240px;
  height: 40px;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.game__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}

.new-game-btn {
  background-color: purple;
  color: #fff;
  margin-top: 30px;
  transition: 0.3s linear background-color;
}

.new-game-btn:hover {
  background-color: #ff00e1;
}

.guess-field {
  color: #000;
  width: 100%;
  max-width: 550px;
  height: 100px;
  font-size: 30px;
  font-size: 45px;
  border: 5px solid #14727d;
  text-align: center;
}

.guess-btn {
  background-color: yellow;
  color: #000;
  margin-top: 50px;
  transition: 0.3s linear background-color;
}

.guess-btn:hover {
  background-color: orange;
}

.guess-btn:disabled {
  background-color: #7b7b7b;
  cursor: no-drop;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
